<div class="container-fluid">
    <div class="row">
        <div>
            <div class="card hovercard">
                <div class="cardheader">
                    
                </div>
                <div class="avatar">
                    <img alt="" src="https://www.w3schools.com/w3css/img_avatar4.png">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" >Kerem BİLGİÇER</a>
                    </div>
                    <div class="desc">System Administrator</div>
                    
                </div>
                <div >
                    <a class="btn btn-primary btn-twitter btn-sm" >
                        
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher" >
                        
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher" >
                        
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" >
                        
                    </a>
                </div>
            </div>

        </div>

    </div>
</div>