
<div><my-topmenu></my-topmenu></div>

<div class="wrapper">
  
  <nav id="sidebar" [class.active]="isCollapsed">
    <!-- Sidebar Header -->
    <div class="sidebar-header" (click)="menuToggle()">
                  <h4>Systems</h4>
                  <strong>S</strong>
              </div>

    <!-- Sidebar Links -->
   
    <ul class="list-unstyled components">
      <li class="active">
        <a href="#"><i class="glyphicon glyphicon-flash"></i><span>Low Voltage</span></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-car"></i><span>Traffic</span></a>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"><i class="glyphicon glyphicon-duplicate"></i><span>Pages</span></a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="glyphicon glyphicon-link"></i><span>Portfolio</span></a>
      </li>
      <li>
        <a href="#"><i class="glyphicon glyphicon-send"></i><span>Contact</span></a>
      </li>
    </ul>
  </nav>

  <div id="content">
    
    <div>

    </div>